[submodule "src/components/increment/support"]
	path = src/components/increment/support
	url = https://github.com/incrementtechnologies/support.git
[submodule "src/components/increment/basic"]
	path = src/components/increment/basic
	url = https://github.com/incrementtechnologies/basic.git
[submodule "src/components/increment/generic"]
	path = src/components/increment/generic
	url = https://github.com/incrementtechnologies/generic.git
[submodule "src/components/increment/settings"]
	path = src/components/increment/settings
	url = https://github.com/incrementtechnologies/settings.git
